@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family:"Montserrat", sans-serif;
}

.trip-container{
    position:relative;
    display:flex;
    flex-direction:column;
    width:18.688rem;
    height:24.625rem;
}
#img-box{
    margin-bottom:15px;
    height:330px;
    width:300px;
    border-radius:6px;
    background-color: var(--grey);
}
.placeholderImg{
    border-radius:6px;
}
#trip-name{
    font-size:18px;
    font-weight:600;
    margin-bottom:5px;
}
#trip-date{
    font-size:18px;
    font-weight:400;
}

#add-button1{

    z-index:2;
    position:absolute;
    top:8.813rem;
    left:8.25rem;
}

#btn-add-trip{
    background:none;
    width:300px;
    height:330px;
    padding:0;
    border:none;
    z-index:3;
}