@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family:"Montserrat", sans-serif;
}

.tripContainer{
    min-width: fit-content;
    height:24.625rem;
    border:1px solid var(--black);

}






