@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family:"Montserrat", sans-serif;
}

.tripsContainer{
    min-width: fit-content;
    height:27.625rem;
    display:flex;
    flex-wrap:wrap;
    flex: 1 0 25;
    padding:0 104px 0px 104px;
    gap:29px;
    margin-top:1.875rem;
    overflow-y:scroll;
}






