@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family:"Montserrat", sans-serif;
}

#current-trips-header{
    margin-top:1.875rem;
    margin-left:6.5rem;
    font-weight:600;
    font-size:32px;
}

#previous-trips-header{
    margin-top:1.875rem;
    margin-left:6.5rem;
    font-weight:600;
    font-size:32px;
}
